extends layout

block body
  #welcome.jumbotron
    h3 Zoom REST API's - An example app with Node.js
    h4
    h4  Users - Create/Delete/Update Users
    h4  Meetings - Create/Delete/Update Meetings
    h4  Groups - Add/Remove/Update Groups
    h4  Instant Messaging - Manage IM Groups
    h4  Recordings - Get Recordings
    h4  Metrics - Metrics around Meetings, Webinars, Room connector, Zoom Rooms
