doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title= 'Zoom Demo App'
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    <!--[if lt IE 9 ]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          li
            a(href='/users') Users
          li
              a(href='/meetings') Meetings
          li
              a(href='/reports') Recordings
          li
              a(href='/report') Groups
          li
              a(href='/report') Instant Messaging
          li
              a(href='/report') Metrics
        h3.text-muted Zoom Demo
      block body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/bootstrap.min.js')
